.add-info{
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 40px;
    width: 675px;
    background: #FFFFFF;
    border-radius: 10px;
}
.add-info-title{
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    color: #07C7A4;
}
.add-info-list{
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-info-item{
    position: relative;
}
.add-info-item-inp{
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 53px;
    background: #F2F2F2;
    border: 1px solid #07C7A4;
    border-radius: 7px;
}
.add-info-item-inp::placeholder{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.065em;
    color: #333333;
}
.add-info-item-btn{
    position: absolute;
    right: 0;
    padding: 16px;
    padding-left: 52px;
    padding-right: 39px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #07C7A4;
    border-radius: 7px;
    border: transparent;
    cursor: pointer;
}
.add-info-router-link{
    margin-left: 57px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #07C7A4;
    text-decoration: none;
}