*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 125px;
    padding-right: 125px;
    background-color: #07C7A4;
}

ul,ol{
    list-style: none;
}

/* .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
} */

.flex{
    display: flex;
    /* justify-content: space-around; */

}
